
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

a.active hr{
    display: block;
}

*{
    font-family: Outfit;
}

.prata-regular {
    font-family: "Prata", serif;
    font-weight: 400;
    font-style: normal;
  }


  .line-clamp-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .line-clamp-none {
    display: block;
  }
  
  @keyframes moveTrain {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }
  
  .train {
    position: absolute;
    bottom: 0;
    left: -100%;
    width: 200px; /* Adjust size as needed */
    animation: moveTrain 10s linear infinite;
    z-index: 1;
  }
  